@use 'vars' as *;
@use 'predef' as *;

#contenedor {
    #contenido {
        width: 100%;
        min-width: 375px;

        #contenido__subir {
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            position: fixed;
            bottom: 15px;
            right: -100%;
            background-color: #ff0000;
            border: 3px solid #000;
            transition: 0.5s;
            padding: 6px 5px 5px 6px;

            a {
                color: #666;
                font-size: 2rem;

                &:hover {
                    color: #000;
                }
            }
        }
        

        .contenido__seccion--sobremi {
            background-color: #fff;
            width: 100%;
            display: block;
            box-sizing: border-box;

            .contenido__seccion--sobremi_margen {
                height: 30px;
            }

            h2 {
                font-size: 3.5rem;
                text-align: center;
                color: #333;
                margin: 0 0 35px;
                line-height: 40px;
                padding-top: 7px;
                
            }

            p {
                font-family: $fam_02;
                font-size: 2rem;
                text-align: center;
                margin-bottom: 50px;
                color: #000;
                line-height: 30px;

                span {
                    font-weight: bold;
                }
            }

            .contenido__articulo--sobremi {
                height: 100%;

                .contenido__sobremi--txt,
                .contenido__sobremi--img {
                    box-sizing: border-box;
                }

                .contenido__sobremi--txt {
                    padding: 15px;
                    background-color: #fff;
                    width: map-get($per_cent, "100");
                    min-width: 375px;
                    height: 100%;
                    min-height: 250px;

                    h3 {
                        font-family: $fam_01;
                        font-size: 2rem;
                        color: #333;
                        text-align: map-get($pos, "ctr");
                        margin: 10px 0 15px;
                        line-height: 27px;
                    }

                    p {
                        font-family: $fam_04;
                        font-size: 1.25rem;
                        color: #000;
                        text-align: justify;
                        line-height: 27px;
                        margin: 0 0 10px;
                        font-weight: normal;
                    }
                }

                .contenido__sobremi--img {
                    width: 100%;
                    min-width: 375px;
                    height: 100%;
                    min-height: 250px;
                    background-size: cover;
                    background-position: center center;
                }
            

                .sobremi_img_01 {
                    background-image: url(../img/perfil_profesional.jpg);
                }

                .sobremi_img_02 {
                    background-image: url(../img/mi_historia.jpg);
                }

                .sobremi_img_03 {
                    background-image: url(../img/mis_habilidades.jpg);
                }
            }
        }
    }
}
