@use 'vars' as *;
@use 'predef' as *;

@media only screen and (min-width: map-get($brk_pts, "bp_01")) {
    #contenedor {
        #contenido {
    
            .contenido__seccion--sobremi {
    
                .contenido__articulo--sobremi {
    
                    .contenido__sobremi--txt {
                        width: map-get($per_cent, "50");
                        height: auto;
    
                        // h3 {
                        //     text-align: map-get($pos, "ctr");
                        //     margin-bottom: map-get($abs_lng, "5px") * 3;
                        // }
    
                        // p {
                        //     text-align: map-get($pos, "ctr");
                        //     font-size: map-get($rel_lng, "1.125");
                        // }
                    }
    
                    .contenido__sobremi--img {
                        width: 50%;
                        height: auto;
                        min-height: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: map-get($brk_pts, "bp_03")) {
    #contenedor {
        #cabeza {
            height: 100vh;

            .cabeza__principal--contenedor {
                background-color: rgba(0, 0, 0, 0.75);
                padding-bottom: 15px;
                position: fixed;

                .cabeza__principal--logo {
                    margin-left: 15px;
                }

                .cabeza__principal--menu {
                    display: inline-block;
                    margin-right: 20px;
                    margin-top: 15px;
                }

                .cabeza__principal--menu--resp {
                    display: none;
                }
            }

            .cabeza__carousel--contenedor {
                width: 90vw;
                margin-left: 3vw;
                margin-top: 35vh;

                .carousel-item {
                    div {
                        width:70vw;

                        h2 {
                            margin-bottom: 25px;
                            font-size: 5.5rem;
                            line-height: 69px;
                            text-shadow: 3px 3px #000;
                        }

                        p {
                            font-size: 2.5rem;
                            line-height: 52px;
                            text-shadow: 3px 3px #000;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: map-get($wth_res, "dkp_01")) {
    #contenedor {
        #cabeza {

            .cabeza__principal--contenedor {
                .cabeza__principal--logo {
                    margin: 10px 4vw 0 0;

                    .logo__buho {
                        margin: 0 5px 0 0;
                    }
                }

                .cabeza__principal--menu {
                    margin: 15px 0 0 0;
                }

                .cabeza__principal--promo {
                    display: inline-block;
                    margin-left: 4vw;
                }
            }
        }
    }
}

@media only screen and (min-width: map-get($wth_res, "dkp_03")) {
    #contenedor {
        #cabeza {
            .cabeza__principal--contenedor {
                .cabeza__principal--logo {
                    margin-right: 6vw;
                }

                .cabeza__principal--menu {
                    ul {
                        li {
                            margin: 0 10px;
                        }
                    }
                }

                .cabeza__principal--promo {
                    margin-left: 6vw;
                }
            }

            .cabeza__carousel--contenedor {
                width: 90vw;
                margin-left: 3vw;
                margin-top: 35vh;

                .carousel-item {
                    div {
                        width:50vw;

                        h2 {
                            padding-top: 11px;
                            margin-bottom: 35px;
                            font-size: 6rem;
                        }

                        p {
                            font-size: 3rem;
                            line-height: 56px;
                        }
                    }
                }
            }
        }
    }
}