@use 'vars' as *;

// Cajas flexbox

.flex-1,
.flex-2,
.flex-2-2,
.flex-3 {
    display: map-get($disp, "flex");
    width: map-get($per_cent, "100");
}

.flex-1 {
    flex-flow: map-get($flow, "flow_02");
    justify-content: map-get($pos, "spe_bet");
    align-items: map-get($pos, "ctr");
}

.flex-2,
.flex-3 {
    flex-flow: map-get($flow, "flow_01");
}

.flex-3 {
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-2-2 {
    flex-flow: column-reverse wrap;
}

.flex-2,
.flex-2-2 {
    justify-content: map-get($pos, "f_str");
}

@media only screen and (min-width: map-get($brk_pts, "bp_01")) {
    .flex-2,
    .flex-2-2 {
        flex-flow: map-get($flow, "flow_02");
        justify-content: map-get($pos, "ctr");
    }
}

@media only screen and (min-width: map-get($wth_res, "dkp_01")) {
    .flex-1 {
        justify-content: map-get($pos, "spe_eve");
        min-width: 1280px;
    }

    // .flex-4 {
    //     width: map-get($per_cent, "100") - 10;
    //     justify-content: map-get($pos, "spe_bet");
    // }
}

// Cajas hijas

.cols-wrp {
    width: 350px;
    min-height: 325px;
    height: map-get($glob_kw, "auto");
    margin: 0 0 50px;
    padding: 10px 10px 0;
    color: map-get($color, "blanco");
}

@media only screen and (min-width: map-get($brk_pts, "bp_03")) {
    .cols-wrp {
        width: 300px;
        padding: 5px 5px 0;
        min-height: 375px;

    }
}

// @media only screen and (min-width: map-get($wth_res, "dkp_01")) {
//     .cols-wrp {
//         min-height: 400px;
//     }
// }

@media only screen and (min-width: map-get($wth_res, "dkp_03")) {
    .cols-wrp {
        width: 350px;
    }
}

// Botones

.btn_01 {
    font-family: $fam_02;
    display: block;
    position: relative;
    color: map-get($color, "blanco");
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: $mayusc;
    letter-spacing: 1px;
    text-align: map-get($pos, "ctr");
    border: map-get($abs_lng, "3px") $solid map-get($color, "rojo_01");
    border-radius: 27px;
    transition: map-get($times, "m_seg");
    padding: 7px 7px 7px;
    margin: 0 auto;
    cursor: $cursor;
    width: 175px;
    animation: btn1 3s infinite;

    @keyframes btn1 {
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
    }

    &:hover {
        transition: map-get($times, "m_seg");
        border: map-get($abs_lng, "3px") $solid map-get($color, "blanco");
        color: map-get($color, "rojo_01");
        font-weight: bold;
    }
}

// @media only screen and (min-width: map-get($brk_pts, "bp_03")) {
//     .flex-1 {
//         justify-content: map-get($pos, "spe_eve");
//     }
// }

// .flex-1,
// .flex-2,
// .flex-3,
// .flex-4,
// .flex-5,
// .flex-6,
// .flex-7 {
//     display: map-get($disp, "flex");
//     flex-flow: map-get($flow, "flow_01");
// }

// .flex-1,
// .flex-2,
// .flex-3,
// .flex-4,
// .flex-7 {
//     width: map-get($per_cent, "100");
// }

// .flex-1,
// .flex-2 {
//     justify-content: map-get($pos, "spe_aro");
// }

// .flex-1,
// .flex-5 {
//     align-items: map-get($pos, "ctr");
// }

// .flex-6,
// .flex-7 {
//     align-items: map-get($pos, "f_str");
// }

// .flex-3,
// .flex-7 {
//     justify-content: map-get($pos, "spe_eve");
// }

// .flex-4 {
//     justify-content: map-get($pos, "f_str");
// }

// .flex-5,
// .flex-6 {
//     justify-content: map-get($pos, "spe_bet");
// }

// @media only screen and (min-width: map-get($brk_pts, "bp_01")) {
//     .flex-4 {
//         flex-flow: map-get($flow, "flow_02");
//         justify-content: map-get($pos, "ctr");
//     }
// }

// @media only screen and (min-width: map-get($brk_pts, "bp_03")) {
//     .flex-1 {
//         justify-content: map-get($pos, "spe_eve");
//     }

//     .flex-6 {
//         flex-flow: map-get($flow, "flow_02");
//     }

//     .flex-7 {
//         width: map-get($per_cent, "100") - 10;
//     }
// }

// @media only screen and (min-width: map-get($wth_res, "dkp_01")) {
//     .flex-7 {
//         justify-content: map-get($pos, "spe_bet");
//         width: map-get($per_cent, "100") - 10;
//     }
// }